/* ========================= */
/* ===== Page Background ===== */
/* ========================= */

.wishlist-container {
  width: 100%;
  min-height: 80vh;
  padding: 40px 60px;
  background: #f5f7fa;
}

.wishlist-container h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* ========================= */
/* ===== Grid Layout ===== */
/* ========================= */

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* ========================= */
/* ===== Card ===== */
/* ========================= */

.wishlist-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #eaeaea;
}

.wishlist-card:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

/* ========================= */
/* ===== Image ===== */
/* ========================= */

.wishlist-card img {
  height: 160px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

/* ========================= */
/* ===== Text ===== */
/* ========================= */

.wishlist-info h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  min-height: 44px;
}

.wishlist-info p {
  font-size: 18px;
  font-weight: 600;
  color: #2874f0;
  margin-bottom: 15px;
}

/* ========================= */
/* ===== Button ===== */
/* ========================= */

.wishlist-info button {
  background: #ff4d4f;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.wishlist-info button:hover {
  background: #d9363e;
}

.empty-page h1
{
    text-align: center;
}


/* ========================= */
/* ===== Responsive ===== */
/* ========================= */

@media (max-width: 1024px) {
  .wishlist-container {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .wishlist-container {
    padding: 20px;
     margin-top: 5%;
    margin-bottom: 15%;
  }

  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .wishlist-card img {
    height: 130px;
  }
}


